body {
  background-color: #2b2b2b;
}

h2 {
  text-align: center;
  color: white;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainBttn {
  text-align: center;
  color:white;
  font-weight:bold;
  padding:5%;
  border-color:#1E3163;
  border-width:2%;
  border-radius:5%;
  background-color:#2D46B9;
  transition-duration: 0.4s;
}

#mainBttn:hover {
  background-color: #26292a;
  border-color:#334257;
  color: white;
}
